.qv-overlay {
	background-color: rgba( #000, 0.5 );
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1003;
	overflow: auto;
	
	.qv-holder {
		position: absolute;
		top:50%;
		left: 15%;
		right: 15%;
		background-color: #fff;
		height:50px;
		overflow:hidden;
		
		
		@include breakpoint(large down) {
			left: 10% !important;
			right: 10% !important;
		}
		
		@include breakpoint(small only) {
			left: $space !important;
			right: $space !important;
		}
		
		.qv-wrapper {
			position: relative;
			padding: $space; // Foundation var
			opacity: 0;
			margin-top:0;
			transition: opacity 0.4s linear;

			&.active {
				opacity: 1;
			}
		
			.images, 
			.summary {
				width:50%;
				height: auto;
				float: left;
				
				@include breakpoint(medium down) {
					clear: both;
					width:100% !important;
					.inner-wrap {
						padding-top: $space;
						padding-left: 0;
					}
				}
			} // .images, .summary
			.images {
				margin-bottom: 0;
			}
			
			h4 {
				margin: 0 0 1.5rem;
				font-size: 1.9rem;
			}
			
			.inner-wrap {
				padding-left: $space;
			}
			
			@include clearfix;
		} 
		
		.vc-ase-remove {
			position: absolute;
			top: $space /2 ;
			right: $space /2;
			
			&:hover {
				cursor: pointer;
				opacity: 0.6;
			}
		}
		

	} // qv-holder
	
} // .qv-overlay