/*
 *	Variables
 *		
 */
@import "foundation/components/global";

// FOUNDATION IMPORTS
// $primary-color, $success-color, $warning-color, $alert-color, $info-color, $body-bg, $body-font-color:
//
$primary-color:		$primary-color;

$success-color:     $success-color; 
$warning-color:     $warning-color;
$alert-color:      	$alert-color;
$info-color:		$info-color;


// PRIMARY AND SECONDARY BACKGROUND COLORS
$prim-back-color:	$prim-back-color;
$sec-back-color :	$sec-back-color;


// IMAGE OVERLAY COLOR (on hover)
$overlay-color:		rgba(250,250,250,0.8);