/*
 *	Variables
 *		
 */
@import "foundation6/global";

// FOUNDATION IMPORTS
// $primary-color, $success-color, $warning-color, $alert-color, $info-color, $body-bg, $body-font-color:
//
$primary-color:		$primary-color;

$success-color:     map-get( $foundation-palette, success ); 
$warning-color:     map-get( $foundation-palette, warning );
$alert-color:      	map-get( $foundation-palette, alert );
$info-color:		map-get( $foundation-palette, secondary );

// PRIMARY AND SECONDARY BACKGROUND COLORS
$prim-back-color:	$white;
$sec-back-color :	$light-gray;


// IMAGE OVERLAY COLOR (on hover)
$overlay-color:		rgba(250,250,250,0.8);