/*
 * VISUAL COMPOSER
 */
.vc_row {
	
	&[data-equalizer] {
		display: flex;
		flex-direction: row;

		@include breakpoint(medium down) {
			display: block !important;
		}
	}
	
	.vc_column_container {
		z-index: 2;
		&.z-index-above {
			z-index: 5;
		}
	} 
	
	.overlay {
		position: absolute;
		z-index: 1;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width: auto;
		height: auto;
	}
	
	 > .inner { 
		position: relative;
		z-index:2;
	}
	
	.yt-video,
	> video {
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		z-index:0;
		overflow: hidden;
	}
	
	// when NOT used in page-builder-template
	
	article & {
		> .inner  {
			padding: 0 !important ;
		}
	} 
	
	// Parallax fixes:
	&.vc_parallax > * {
		z-index: 2;
	}
	
	&.vc_parallax  {
		.vc_parallax-inner {
			background-position: center;
		}
	}
	
	&.z-index-above {
		z-index: 5;
	}

	.wpb_content_element {
		margin-bottom: 0;
	}
	
	.page & { 
	
		margin:{
			left: 0 ;
			right: 0 ;
			bottom: 0 ;
		}
		
		@include breakpoint(small only) {
			padding: 0 !important;
		}
		
	}
	.page-template-page-full_width & {
		margin:{
			left: - $space /2 ;
			right: - $space /2 ;
		}
	}
	
	.vc_column_container {
		@include breakpoint(small only) {
			padding:{
				left: $space /2 !important;
				right: $space /2 !important;
			}
		}
		
	}
	
	.wpb_wrapper {
		height: 100%;
		z-index: 3;
	} //.wpb_wrapper
	
	
	.vc_column_container {
		
		.column-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
		}
	
		&.no-spacing {
			padding-left: 0 ;
			padding-right: 0 ;
		}	
		
	} // .vc_column_container
	
	p.warning {
		padding: 2.5rem;
		margin: 1.25rem;
		border: 3px solid #FBB;
		font-weight: 600;
		background: #F3F3F3;
		color: #444;
	} 
	
} // vc_row

/*---------------------------------*/
// VC GRID OVERRIDES
.wpb_row, 
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button {
	position: relative;
}


.vc_row {
	.vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3, .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6, .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9, .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
		padding: 0  $space /2 ;
	}
}



// end VC GRID OVERRIDES
/*---------------------------------*/



/*---------------------------------*/
/* VC Aligator Studio elements*/
// GENERAL
.wpb_wrapper {

	> div {
		position: relative;
		z-index: 1;
	}
	
	.vc_images_carousel {
		max-width: 100%;
	}
	
	.titles-holder {
		
		padding: $space ($space / 2);
		position: relative;
		z-index: 1;
		
		&.center {
			text-align: center;
		}
		&.float_left {
			text-align: left;
		}
		&.float_right {
			text-align: right;
		}
		
		&.absolute {
			position: absolute;
			z-index: 2;
		}
		
		.no-spacing & {
			padding:{
				left:  $space;
				right:  $space;
			}
		}
	}
	
	
	.taxonomy-menu {
		
		list-style: none !important;
		@include clearfix;
		
		// if regular taxonomies menu
		&:not(.cat-images) {
		
			margin: 0 0 $space;
			@include clearfix;

			li {
				display: inline-block;
				position: relative;
				a {
					display: block;
					padding: $space / 4 $space / 2 ;
					
					transition: all .5s;
					
					
					&.active {
						background: $secondary-color;
					}
					
					&:hover {
						background: transparentize( $secondary-color, 0.5 );
					}
	
					.page-template-default #primary article .post-content & {
						
						border: none !important;
						&:before, &:after {
							display: none !important;
						}
					} // content-block
					
				}
				
				@extend %menu-links-hover;
			}
			
			&.one-item-in-row {
				li {
					display:block;
					float: none;
					a {
						padding:{
							left:$space / 2  !important;
							right:$space / 2  !important;
						}					
						
					}

				}
			}
			
			&.center {
				text-align : center;
			}
			
			&.align_left {
				text-align : left;
				
				li {
				
					&:first-child {
						a:not(.active):not(:hover) {
							padding-left: 0;
						}
						
					}
				}
			}
			&.align_right {
				text-align : right;
				
				li {
				
					&:last-child {
						a:not(.active):not(:hover) {
							padding-right: 0;
						}
						
					}
				}
				
			} // &.align_right
			
		}
		
		
	 } // taxonomy-menu
	

	
	// AJAX and FILTER content auto heights:
	.ajax-cats, .ajax-prods, .filter-cats, .filter-prods  {
		
		.category-content {
			@include clearfix;
		}
		.anim-wrap {
			.item-data {
				height: auto;
			}		
		}

	}
	// AJAX LOADER
	.ajax-cats, .ajax-prods {

		.vc-ase-ajax-load {
			position: absolute;
			top: $space *4;
			left: 50%;
			background: rgba(255, 255, 255, 0.8);
			z-index: 2;
			margin-left: -27px;
			width: $space;
			height: $space;
			text-align: center;
			line-height: $space;
			color: #565656;
			box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
			
			.fa {
				font-size: 2rem;
			}
			
		}// as-ajax-load
		
		.reset-prod-cats {
			display: none;
		}

	} // ajax-cats, ajax-prods

	
	
	.bottom-block-link, .button-wrapper {
		clear: both;
		text-align: center;
		padding: $space / 2 ;

	}
	
	// ITEMS GUTTER REMOVAL:
	.remove-gutter {
		
		.item {
			padding:{
				left:0;
				right:0;
			}
			margin-bottom: 0;
			
			.anim-wrap {
				
				.item-data {
					padding:{
						left: $space;
						right: $space;
					}
					
					
				}
			} // anim-wrap
		} // item
		
	}// remove-gutter
	
	.block-subtitle {
		@include special-uppercase( 11, 400 );
		&.above {
			padding-bottom: $space /2;
		}
	}
	
	
} // .wpb_wrapper

// ELEMENTS MASTER DIVs:
.ajax-cats, .ajax-prods, .filter-cats, .filter-prods, .prod-cats, .single-cat-prods, .testimonials-block, .image-slides-block,.contact-form {
	position:relative;
	@include clearfix;
}
// GENERAL STYLE FOR TITLE BLOCKS
.block-title, .box-title {
	position: relative;
	line-height: 1.2;
}

// GENERAL OPACITY FOR ELEMENTS INTENDED FOR ANIMATION
.anim-wrap {
	&.to-anim {
		opacity: 0; 
	}
}

// TYPEWRITER EFFECT
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// ============= ELEMENTS ================

// HEADINGS:

.block-title, .box-title {
	small {
		color: inherit;
	}
}


// AJAX CONTENT / PRODUCTS:

// product category images
.cat-images {
			
	position: relative;
	z-index: 2;
	
	margin-bottom:$space;
	
	.no-spacing & {
		margin-bottom: 0;
	}
	
	.single-prod-category & {
		margin: 0;
	}
		
	li {
		position: relative;
		
		&.column {
			margin-bottom: $space; 
		}
	
	
		a.reset-prod-cats {
			display: block !important;
			position: absolute;
			z-index: 10;
			top: 0;
			left:  $space / 2;
			width: $space;
			height: $space;
			text-align: center;
			background: $body-font-color;
			color:  $prim-back-color;
			line-height: $space;

		}
		
	
	}
	a {
		position: relative;
		display: block;
		z-index: 1;
		border: none;
		
		&:hover { &:after { height: 0 !important;} }
		@include clearfix;
		
		img {
			@extend %itemimages;
			margin:0;
			z-index: 0;
			@include clearfix;
		}
		&.active {
			.term {
				box-shadow: inset 0 0 0 2px rgba( $body-font-color , 1);
				
				&:after {
					@include css-triangle( $space / 2, $body-font-color, top);
					position: absolute;
					z-index: 20;
					left: 50%;
					margin-left: - $space / 2;
				}
			} //.term

		} // &.active

	} //a
	

	.term {
		position: absolute;
		top: 0 ;
		bottom: 0 ;
		left: 0 ;
		right: 0 ;
		z-index: 1;
		text-align: center;
		
		.table { width: 100% }
		
		h4 {
						
			margin: 0;
			padding: 0;
			&:before, &:after { display: none } //remove eventual pseudo elms
			@extend %main-transition;
			
			span {
				display: inline-block;
				padding: ($space / 2) $space ;
				background: rgba($prim-back-color, 0.9);		
			}

			
			position: relative;
			.count {
				  position: absolute;
				  top: 100%;
				  left: 0;
				  right: 0;
				  font-weight: 400;
			}
			
		}
			
		.block-subtitle {
			margin: $space /2;
		}

	}
	
} // anim-wrap

// FILTER CONTENT:
.filter-cats {

	.sort-holder {
		clear: both;
		padding: 0 1.25rem;
		margin-bottom: 2.5rem;
		
		&.center {
			text-align: center;
		}
		&.align_left {
			text-align: left;
		}
		&.align_right {
			text-align: right;
		}
		.sort-options {
			display: inline-block;
			width: auto;
			height: 43px;
		}
		
	}
	
	ul.vcase-masonry {
		position: relative;
		clear: both;
		display: block;
		width: 100%;
		transition: height .5s;
		@include clearfix;
	}
		
} // fiter-cats

// SINGLE PRODUCT
.single-item-element {

	width: 100%;
	@include clearfix;
	
	.load-product {
		display: block;
		padding: ( $space /2) 0;
		text-align: center;
	}
	.vc-ase-ajax-load {
		position: relative;
		background: rgba(255, 255, 255, 0.8);
		z-index: 2;
		width: $space;
		height: $space;
		margin: 0 auto $space ;
		text-align: center;
		line-height: $space;
		color: #565656;
		box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
		
		.fa {
			font-size: 2rem;
		}
		
	}// as-ajax-load
	
	
	> .item {
		margin: 0 !important;
		padding: 0 !important;
		display: block;
	}
	
	.no-spacing .wpb_wrapper & {
		padding: 0;
	}
	
	.item {
		
		.anim-wrap {
			
			&.images_left, &.images_right {
				
				.images-holder, .item-data {
					width: 50%;
				}
				
				.images-holder {
					position: relative;
					.item {
						margin: 0;
					}
					
				}
				
			} // &.images_left, &.images_right
			
			.images-holder {
				
				.item {
					width: 100%;
					height: auto;
					display: block;
				}
				
				.back-buttons{
					a { width: 100%;}
				}
				&:after {
					transform: rotate(180deg);
				}
			} 
			
			
			.item-data {
				
				position: absolute;
				height: 100%;
				
				.no-spacing & {
					padding: 0 $space;
				}
				
				h3 {
					margin: $space 0 0;
					padding-bottom: $space / 2;
					@include border(0,1,0,0,#999,0.5);
					a {
						border: 0 !important;
						&:after {
							display: none !important;
						}
					}
					
					@include breakpoint(medium down) {
						margin-top: $space / 2;
					}
				
				} // h3
				
				> .table {
					height: 100%;
					width: 100%;
					
					.item-buttons-holder {
						position: relative;
						margin: 2rem 0 1.2rem;
						left: 0;
						@include clearfix;
						
						.button-cell {
							float: left;
						}
						
						.button-cell > * {
							margin: 0;
							padding: 0;
						}
						
						a {
							@extend %item-buttons;
						}
						
						.added_to_cart {
							position: absolute !important;
							top: 0;
							z-index: 2;
							font-size: 11px;
							min-width: 5rem;
							text-align: center;
						}
					}
				
					.price {
						clear: both;
						padding: 0;
						margin: 0;
						display: block;
						font-size: 2rem;
						text-transform: uppercase;
						margin-bottom: $space / 2;
						@include clearfix;
						del { font-size: 0.8em; }
					}
					
					.description {
						clear: both;
					}
					
					.product-details {
						clear: both;
						display: block;
					}
					
					.product_meta {
						clear: both;
						float: left;
						width: 100%;
						@include special-uppercase( 12, 600 );
						@include border(1,0,0,0,#000,0.2);
						padding: 0 0 ($space / 2 );
						@include clearfix;
						margin-top: $space;
						
						> span {
							clear: both;
							display: block;
							@include border(0,1,0,0,#999,0.2);
							padding: ($space / 4 ) 0;
							font-size: inherit;
						}
						
					}
			
					.full_wrapper {
						
						.woocommerce-product-rating {
							margin: ( $space /2) 0;
						}
						
						.yith-wcwl-add-to-wishlist {
													
							a {
								text-align: center;
								width: $space;
								height: $space;
								line-height: 3.2rem;
								background-color: $body-font-color;
								color:$sec-back-color;
								border-radius: 0;
								display: block;
								position: relative;
								z-index: 1;
								padding: 0;
								
							}// a
						
							.ajax-loading {
								position: absolute;
								top: 50%;
								left: 50%;
								margin-left: -8px;
								margin-top: -8px;
								z-index: 2;
							}
							
						} //.yith-wcwl-add-to-wishlist
						
					}
					
					.reduced {
						.yith-wcwl-add-to-wishlist {
							a {
								min-height: auto;
								min-width: auto;
							}
						}
					}
					
					
				}
				
				&.full {
					position: relative;
					
					.yith-wcwl-add-to-wishlist {
						position: relative;
						float: left;
						text-align: center;
						margin-top: $space ;
					}
					
				}
				
				@include breakpoint(medium down) {
					position: relative !important;
				
				}
				
			} // .item-data
			
			&.back-color {
				
				.item-data {
					padding: $space;
				}
				
			}
			
			&.centered { // with .anim-wrap
			
				width: auto;
				margin: 0 20%;
				
				@include breakpoint(large up) {
					margin: 0 10%;
				
				}
				@include breakpoint(medium down) {
					margin: 0;
				
				}
				
				.item-data {
					position: relative;
					text-align: center;
					
					.star-rating, .woocommerce-review-link {
					display: inline-block;
						float: none;
					}
					
					.item-buttons-holder, .variations, .variations_button, .price  {
						float: none;
						text-align: center;
					}
					.item-buttons-holder {
						width: 100%;
						
						.button-row {
							display: inline-block;
							position: relative;
							.button-cell {
								float: none;
								display: inline-block;
							}
						}
					}
					.product-details {
						margin-bottom: $space;
					}
					form.cart, .yith-wcwl-add-to-wishlist, .quantity, .single_add_to_cart_button {
						display: inline-block;
						float: none;
						margin-top: 0;
					}
					
					// FULL PRODUCT OPTIONS
					.full_wrapper {
						.yith-wcwl-add-to-wishlist {
							margin-bottom: - 1.3rem ;
						}
					}
					// AS IN CATALOG
					.reduced {
						.yith-wcwl-add-to-wishlist {
							margin-bottom: -0.9rem ;
							margin-left: 0px;
						}
					}
					
				}
			}
			
			&.images_left { // with .anim-wrap
			
				.images-holder {
					float:left;
					&:after {
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 1;
						margin-top: -17px;
						@include css-triangle( $space / 2, $prim-back-color, right);
					}
					
				}
				.item-data {
					float:right;
					right: 0;
					padding-left: $space;
					text-align: left;
					
					.item-buttons-holder, .variations, .variations_button  {
						float: left;
					}
					.price  {
						text-align: left;
					}
					
					.product-details {
						float: left;
					}
					
					.quantity, .single_add_to_cart_button {
						display: inline-block;
						float: left;
					}
					.yith-wcwl-add-to-wishlist {
						a {
							float: left;
						}
					}
					
					.no-spacing & {
						padding-left: $space;
					}
					
					@include breakpoint(medium down) {
						padding-left: 0;
					}
					
				}//.item-data

			}	
				
			&.images_right {  // with .anim-wrap
			
				.images-holder {
					float:right;
					
					&:after {
						position: absolute;
						top: 50%;
						left: 0;
						z-index: 2;
						margin-top: -17px;
						@include css-triangle( $space / 2, $prim-back-color, left);
					}
					.item-img {
						&:before {
							position: absolute;
							display: block;
							left: 0;
							top: 0;
							bottom: 0;
							width: 20%;
							z-index: 2;
							background: rgba(#000, 0.8);
						}
					} 
					
				}
				.item-data {
					float:left;
					left: 0;
					padding-right: $space;
					text-align: right;

					.item-buttons-holder, .variations, .variations_button,
					form.cart, .yith-wcwl-add-to-wishlist,
					.yith-wcwl-add-to-wishlist a,
					.product-details {
						float: right;
					}
					
					.item-buttons-holder .added_to_cart{
						left: 0;
					}
					
					.quantity, .single_add_to_cart_button {
						display: inline-block;
						float: right;
					}
					del, ins {
						float: right;
						margin-right: 0;
						margin-left: $space / 2 ;
					}
				
					
					// FULL PRODUCT OPTIONS
					.full_wrapper {
						.yith-wcwl-add-to-wishlist {
							margin-right:$space / 2 ;
						}
					}
					
					.no-spacing & {
						padding-right: $space;
					}
					
					@include breakpoint(medium down) {
						padding-right: 0;
					}
					
				} //.item-data
				
			}	
			
			@include breakpoint(large up) {
				
				.item-data {
					
					
					h3, .table.item-buttons-holder {
						margin: ($space / 4)  0
					}
					
					.description, [itemprop="description"] {
						display: none;
					}
				}
				
			}
			
			@include breakpoint(medium down) {
			
				.images-holder, .item-data {
					width: 100% !important;
				}
				.item-data {
					position: relative;

					.description {
						display: none;
					}
				}
				.images-holder {
					float:left;
					&:before {
						position: absolute;
						bottom: 0%;
						left: 50%;
						z-index: 2;
						margin-left: -17px;
						@include css-triangle( $space / 2, $prim-back-color, bottom);
					}
					&:after {
						display: none !important;
					}
				}
			}
			
			
		
		} // anim-wrap
	
	} // item

}



// BANNER BLOCK :
.banner-block {
	
	width: 100.1%;
	
	.no-spacing &{
		width: 100.1%;
		margin-left: 0;
	}
	
	&.to-anim {
		opacity: 0;
	}
	
	.text-holder {
	
		position: relative;
		width: 100%;

		.item-overlay {
			top:0;
			bottom:0;
			left:0;
			right:0;
		}
		
		.block-title, .block-subtitle, .banner-text {
			clear: both;
			position: relative;
			z-index: 2;
			color: inherit;
			margin: 0;
			margin:{
				left: $space / 2;
				right: $space / 2;
			}
			padding-bottom: $space / 2;
			@include clearfix;
		}
		
		.banner-text {
			&.no-subtitle {
				margin-top:$space / 2;
			}
		}
		
		.button {
			clear: both;
			position: relative;
			z-index: 2;
			margin: $space / 2;
		}
		
		&.center {
			text-align: center;
			> * { float: none }
		}
		&.float_left {
			text-align: left;
			> * { 
				float: left;
				margin-left: 0;
				}
		}
		&.float_right {
			text-align: right;
			> * { 
				float: right;
				margin-right: 0;
				}
		}
		
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
		}
		
	}

}

// Contact form block
.vcase-contact-form {

	padding-left: $space /2;
	padding-right: $space /2;
	
	.entry-image {
		margin-bottom: $space ;
	}
	
	.no-spacing & {
		padding-left: $space;
		padding-right: $space;
	}
	
	.contactform-wrapper {
		
		position: relative;
		display: table;
		width: 100%;
		
		.mail-status {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			display: none;
			z-index: 1;
			p {
				
			}
		}
		
		> div {
		
			position: relative;
			z-index: 0;
			label {
				font-size: 0.9rem;
				margin: ($space /4) 0;
				color: inherit;
				float: left;
			}
			
			span {
				padding: ($space /4) 0;
				display: block;
				float: left;
			}
		}
		
		.error, .success { 
			padding: $space /2;
			padding-right: $space;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			box-shadow: 3px 3px 0 0 rgba(0,0,0,0.2);
		}
		
		.error { 
			background-color: #FF6600;
			color: #FFFFFF;
		}
		.success {
			background-color: #12CC1A;
			color: #FFFFFF;
		}
		.info { 
			font-size:.8em;
			color: #FF6600;
			font-weight: bold;
			padding-left: 10px;
		}
		
	}
	
}

// Testimonials block
.testimonials-block {
	
	.testimonials {
		float: left;
		width: 100%;
	
		.testimonial-item {
		
			display: table;
			height: 8rem;
			
			.image {
				position: relative;
				width: 200px;
				
				.image-container {
						
					margin: 0;
					
					img {
						width: 100%;
						height: auto;
						margin: 0 auto;
					}				
				} // image-container			
				
				&.diamond {
				
					.image-container {
						position: relative;
						margin: 30px auto 60px;
						display: block;
						width: 50%;
						height: auto;
						overflow: hidden;
						transform: rotate(45deg) ;
						
						img {
							position: relative;
							width: 100%;
							height: auto;
							max-width: 300px;
							margin: 0 auto;
							transform: rotate(-45deg) scale(1.5,1.5);

						}
					
					}
				
				} // diamond
				
				&.round {
					
					
					img {
						border-radius:1000px;
						border:none;
					}
					
				}
				
				@include breakpoint(medium down) {
						
					display: block;
					margin:0 auto $space;
					
					padding:{
						left:0;
						right:0 ;
					}
				}

			} // image	
			
			.text {
			
				height: 100%;
				position: relative;
				backface-visibility: hidden;
				display: table-row;
				
				@include breakpoint(medium down) {
					&:before {
						font-size:4rem;
						margin-top: -2rem;
					}
				}
				
				.inner {
					
					&:before {
						content: "\f10d";
						font-family: 'FontAwesome';
						position: absolute;
						font-size: 8rem;
						line-height: 1;
						opacity: 0.08;
						display: block;
						top: 0%;
						left: 10%;
						font-style: normal;
					}
					
					position: relative;
					backface-visibility: hidden;
					line-height: 1.8;
					display: table-cell;
					width: 100%;
					vertical-align: middle;
					padding:{
						left:$space ;
						right:$space ;
					}				
				
					font-size: 1.2rem;
					font-style: italic;
					
					@include breakpoint(medium down) {
						
						display: block;
						
						padding:{
							left:0;
							right:0 ;
						}
					}
					
				} // inner
				

				h4 {
					display: block;
					padding: $space;
					position: relative;
					margin: 0;
					span {
						position: relative;
						display: inline-block;
						
						&:before , &:after {
							content: "";
							position: absolute;
							line-height: 1;
							opacity: 0.3;
							display: block;
							top: 50%;
							right: calc(100% + 1.25rem);
							width: 4rem;
							height: 1px;
							background-color: #999;
						}
						&:after {
							right: auto;
							left: calc(100% + 1.25rem);
						}

					} // span
				}


			}

			@include breakpoint(medium down) {
				padding:{
					left: 0;
					right:0 ;
				}
			}
			
		} //.testimonial-item
		
		&.center {
			text-align: center;
			.testimonial-item {
				.image {
					display: block;
					margin: 0 auto;
				}
				.inner {
					display: block;
					padding:{
						top: $space;
						bottom: $space;
					}
				} //.inner
			} //.testimonial-item
		} //&.center
		
		&.align_left {
		
			.testimonial-item {
				
				.text {
					text-align: left;
					margin-top: 0;
					padding-top: 0;
					@include breakpoint(small only) {
						width: 70%;
					}
					
					h4 {
						padding-left:0;
						span{ &:before { display: none; } } 
					}
				}
			}		
		
		} // align_left
		
		&.align_right {
		
			.testimonial-item {
				
				.text {
					text-align: right;
					margin-top: 0;
					padding-top: 0;
					@include breakpoint(small only) {
						width: 70%;
					}
					
					h4 {
						padding-right:0;
						span{ &:after { display: none; } } 
					}
				}
			
			}
		
		} // align_right
		
		
		&.align_left, &.align_right {
		
			img {
				width: 60%;
				max-width: none;
				margin: 0 auto;			
			}
		}
		
		.owl-nav {
			left: - $space / 2;
			right: - $space / 2;
		}
		
	} // testimonials	


} //testimonials-block


/**
 *	IMAGES SLIDER BLOCK
 *
 */
.image-slides {
	margin: 0;
	text-align: center;
	
	.single-slide {

		display: inline-block;
		margin:0;
		position: relative;
		width: 100%;
		height: auto;
		
		.no-spacing & {
			padding:{
				left: 0;
				right: 0;
				top: 0;
			}
			width: 100%;
		}
		
		&.item {

			.anim-wrap {
			
				.back {
					
					
					.table {
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						position: relative;
						z-index: 2;						
					}
					&:hover {
						opacity: 1;
					}
					
				}	// back
				
				h4 {
					margin: 1em 1em 0em;
					line-height: 1em;
				}
				
				.text { margin: 1em 1.6em; }
				
			} // anim-wrap
	
		} //item
		
	} // single-slide
	
	&.round {
	
		.item-img {
			border-radius:100%;
			border:none;
			overflow: hidden;
			z-index: 1;			
		}
		.item-overlay {
			border-radius:100%;
		}
	
	} // round

} //image-slides

/**
 *	SOCIAL BLOCK
 *
 */

.social-block {

	.table {
		height: $space *2 ;
		text-align: center;
		line-height: 0;
		margin: 0 auto;
	}
	a { 
		
		background: $sec-back-color;
		color: $primary-color;
		@extend %main-transition;
		
		&:hover {
			color: #FFF;
			
		}		
		&.facebook {
			&:hover {
				background: #49659F;
			}
		}
		&.twitter {
			&:hover {
				background: #5EA9DD;
			}
		}
		&.instagram {
			&:hover {
				background: #3C6B91;
			}
		}
		&.pinterest {
			&:hover {
				background: #D01D15;
			}
		}
		&.linkedin {
			&:hover {
				background: #0177B5;
			}
		}
		&.gplus {
			&:hover {
				background: #DD4B39;
			}
		}
		&.tumblr {
			&:hover {
				background: #34465D;
			}
		}
		&.dribbble {
			&:hover {
				background: #F26798;
			}
		}
		&.skype {
			&:hover {
				background: #00ADEF;
			}
		}

	}

	
	&.stretched {
		.table {
			width: 100%;
			

		}
	} // not-stretched	
	
	&.not-stretched {
		.table {
			width: auto;
			
			.tablecell {
				width: 5rem;
			}
			
		}
	} // not-stretched
	
	&.smaller {
		
		.table {
			height: $space;
			table-layout: auto;
			width: auto;
			margin: 0 auto;
			
			.tablecell {
				width: $space;
			}
			
		}	
	} // smaller
	
	&.left {
		.table {
			float: left;
		}
	}

	&.right {
		.table {
			float: right;
		}
	}
	
	&.center {
		text-align: center;
	}
	
	&.float_left {
		text-align: left;
	} 
	&.float_right {
		text-align: right;
	} 
	
} // social-block


.slick-slider-holder {
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
.slick-slider {
    
	position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
	padding: 0 $space / 2 ;
	
	.no-spacing & {
		padding: 0;
	}
	
	&.slick-initialized {
		.slick-list .slick-track .slick-slide {
			display: block;
		}
		
	}
	&.slick-loading {
		.slick-list .slick-track .slick-slide {
			visibility: hidden;
		}
		
	}
	
	&.slick-vertical {
		.slick-list .slick-track .slick-slide {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
		
	}
	
	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;
		-webkit-transform: translate3d(0px, 0px, 0px); //	I M P O R T A N T
		
		&:focus {
			outline: none;
		}
		
		.slick-loading & {
			background: #fff url("../images/ajax-loader.gif") center center no-repeat;
		}
		
		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
		 
		.slick-track {
		
			position: relative;
			left: 0;
			top: 0;
			display: block;
			transform: translate3d(0, 0, 0);

			&:before, &:after {
				content: "";
				display: table;
			}
			
			&:after {
				clear: both;
			}
			.slick-loading & {
				visibility: hidden;
			}
			
			// INDIVIDUAL SLIDES
			.slick-slide {
				
				float: left;
				height: 100%;
				min-height: 1px;
				display: none;
				position: relative;
				
								
				[dir="rtl"] & {
					float: right;
				}
				
				
				.box-title, .addendum, .price_holder, .posted_in {
					&.to-animate {
						opacity: 0;
					}	
				}
								
				
				// THUMB NAV
				.nav-image {
					
					position:relative;
					z-index: 1;
					img {
						display: block;
						
						.slick-loading & {
							display: none;
						}
					
					}
					
					&:hover {
						cursor: pointer;
					}

					
				} // nav-image

				
				@extend %slide-item-text;
				
				
				&.slick-active {
					&:hover {
					cursor: pointer;
					}
				}
				
				&.slick-center {
				
					&:before {
						position:absolute;
						content: "";
						top: 0;
						right:0;
						bottom:0;
						left:0;
						z-index:5;
						box-shadow: inset 0 0 0 2px rgba( $body-font-color , 1);
					}
					
					
					
					&:after {
						@include css-triangle( $space / 2, $body-font-color, top);
						position: absolute;
						z-index: 20;
						left: 50%;
						margin-left: - $space / 2;
						top:0;
					}
					&:hover {
						cursor: default;
					}
					
				}
				
				
				
				&.dragging img {
					pointer-events: none;
				}
				
				.thumb-title {
					position: absolute;
					top:0;
					bottom:0;
					left: 0;
					right: 0;
					text-align: center;
					z-index: 2;
					@include linear-gradient( to top, rgba( $prim-back-color, 0) , rgba($prim-back-color, 0.8) 100%);
					
					h6{
						padding: $space / 2 ;
					}
				}
				
				&.kenburns {
				
					img {
						animation:kenburns 7s ease forwards; /* Change this to alternate to stop the loop. */
						-ms-animation:kenburns 7s ease forwards;
						-webkit-animation:kenburns 7s ease forwards;
						-o-animation:kenburns 7s ease forwards;
						-moz-animation:kenburns 7s ease forwards;
					}
				
				} // &.kenburns	
								
 
			} // slick-slide
			 
			
		} // slick-track
		
		
	}
	
	.slick-prev, .slick-next {
		position: absolute;
		z-index: 2;
		display: block;
		height: $space;
		width: $space;
		line-height: 0;
		font-size: 0;
		cursor: pointer;
		background: $body-font-color;
		color:  $prim-back-color;
		opacity: 0.8;
		top: 50%;
		margin-top: - $space / 2;
		padding: 0;
		border: none;
		outline: none;
		text-align: center;
		opacity: 0;
		
		@include transition-var(opacity, .5s);
		
		&:hover , &:focus {
			outline: none;
		
			&:before {
				opacity: 1;
			}
		}
		
		&.slick-disabled {
			&:before {
				opacity: 0.25;
			}
		}
		/* 
		&:before {
		    font-family: "FontAwesome";
			font-size: 1rem;
			line-height: 1;
			opacity: 0.75;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		 */
	} // .slick-prev, .slick-next
	
	
	.slick-prev {
		
		left: 0;
		
		[dir="rtl"] & {
			left: auto;
			right: 0;
		}		
		
		&:before {
			
			//content: "\f104";
			
			[dir="rtl"] & {
				//content: "\f105";
				transform: rotate(180deg);
			}
		}		

	}
	.slick-next {
		right: - 0;
		
		[dir="rtl"] & {
			left: 0;
			right: auto;
		}
		
		&:before {
			//content: "\f105";
			
			[dir="rtl"] & {
				//content: "\f104";
				transform: rotate(180deg);
			}
		}
	} // slick-next
	
	
	.slick-dots {
		position: absolute;
		bottom:  $space / 2;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		width: 100%;
		left: 0;
		right: 0;
		margin-bottom: -0.625rem;
		opacity: 0;

		
		li {
			position: relative;
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			
			button {
				border: 0;
				background: transparent;
				display: block;
				height: 20px;
				width: 20px;
				outline: none;
				line-height: 0;
				font-size: 0;
				color: transparent;
				padding: 5px;
				cursor: pointer;
				box-shadow: none;
				
				
				&:hover, &:focus {
					outline: none;
					cursor: pointer;
					opacity: 0.8;
					
					
					&:before {
						opacity: 1;
						@extend %main-transition;
						transform: scale(1.4,1.4);
					}
					
				}
				
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "\f111";
					width: 20px;
					height: 20px;
					font-family: "FontAwesome";
					font-size: 1rem;
					line-height: 20px;
					text-align: center;
					color: black;
					opacity: 0.25;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: scale(1,1);
					opacity: 1;
					border: 0;
				}
				&:after {
					display: none;
				}
			} //button
			
			&.slick-active {
			
				button {
					&:before {
						color: black;
						opacity: 0.75;
					}
				}
			} //.slick-active
		
		
		} // li
		
	}// dots
	
	// Hover for navigation:
	&:hover {
		.slick-prev, .slick-next, .slick-dots {
			opacity: 1;
		}
		
	 }

	 
} // slick-slider

/**
 *	CUSTOM MENU
 */

.custom-nav {

	text-transform: uppercase;
	text-align: left;
	padding: 0 $space / 2;
	
	&.vertical {

		> li {
			padding:{
				left: 0;
				right: 0;
			}
			
			> span.desc {
				margin:{
					top: - $space /4;
					bottom: $space /4;
				}
			}
		}
		
		li {
			
			display: block;
			position: relative;
			@include border(0,1,0,0,$body-font-color, 0.15);
			@include clearfix;
			
			a {
				
				display: block;
				padding: $space /4 0;
				
				&.button  { 
					
					span {
						padding: 0;
						overflow: hidden;
						text-align: center;
						vertical-align: middle;
						display: inline-block;
						margin-top: -1px;
						width: 0;
						@extend %main-transition;
					}
					&:hover {
						
						span{
							padding-left: $space / 4;
							width: auto;
						}	
					}
				} // button
			
			} // a
			
			span.desc {
			
				text-transform: lowercase;
				font-size: 0.8rem;
				display: block;
				line-height: 1.8;
				opacity: .6;
				font-style: italic;
			}
			
			// MAIN SUB STYLES
			.sub-menu {
				
				position: absolute;
				z-index: 1;
				top: 0;
				left: 100%;
				display: none;
				opacity: 0;
				background-color: $prim-back-color;
				padding: $space ;
				margin: 0;
				
				@include border(1,1,1,1,#000, 0.5);
				@include fadeOutLeft(.5s);
				
				@extend %big-shadow ;
				@extend %main-transition;
				
				// ACTIVE SUB
				&.active {
					
					@include fadeInLeft(.5s);
				}
				
				// REGULAR SUBS
				&.regular-sub {		
					
					width: 250px;
					
					li {
						
						padding: 0;
						display: block;
						float: none;
						width: auto;
						@extend %menu-links-hover;
						
						.sub-menu {
							position: absolute;
							right: - $space ;
							top: 0;
						
						}
						
					}
					// RESPONSIVE SUB
					@include breakpoint(medium down) {
						
						top: 100%;
						left: 0;
						right: 0;
						width: auto !important;
						
						 > li {
							
							display: block;
							float: left;
							width: 100%;
							@include clearfix;
							.menu-img-link, .menu-post-excerpt {
								display: none;
							}
							
							.sub-menu {
								top: 100%;
								left: 0;
								right: 0;
								width: auto !important;
							}
							
						}

					}
					
				} // regular-sub

			
				&.as-megamenu {
				
					> li {
						
						border: 0;
						> a {
							font-weight: 600;
						}
						
					}
					
					li {
						
						span.desc {
					
							margin: ($space /4) 0 ;
							
						}

						.sub-menu {
							display: block;
							visibility: visible;
							opacity: 1;
							position: relative;
							left: 0 ;
							top: 0;
							width: auto;
							border: none;
							padding: 0;
							box-shadow: none;
							
							
							li {
								padding: 0;
								a {
									span {
										text-transform: none;
									}
								}
							} // li
							
							
						}
					
					} // li
					
					
					// RESPONSIVE MEGA:
					@include breakpoint(large up) {
						> li {
						
							.sub-menu {
								animation: none;
								background-color: transparent;
							}
							
						}
					} 
					
					@include breakpoint(medium down) { 
						position: absolute;
						top: 100%;
						left: 0;
						width: 100% !important;
						
						 > li {
							
							display: block;
							float: none;
							width: 100%;
							
							@include clearfix;
							
							> a {
								font-weight: 400;
							}
							.menu-img-link, .menu-post-excerpt {
								display: none;
							}
							
							.sub-menu {
								position: absolute;
								top: 100%;
								left: 0;
								padding: $space;									
								display: none;
								opacity: 0;
								
								@include border(1,1,1,1,#000, 0.5);
								
								&.active {
									display: block;
									opacity: 1 ;
								}
								li {
									display: block;
									float: none;
								}
							}
						}

					}
				
				} // as-megamenu

			}// sub-menu

			
		} // li
		
		> li {
			@extend %menu-links-hover;
		}
		
	} // vertical
	
	
	@include clearfix; // Foundation
	
} // custom nav

// end Custom menu element


/**
 *	SUPERSLIDES and SLICK SLIDER
 */
// Superslides and Slick slider text (title, excerpt, price ...) box:
%slide-item-text {
	
	.text {
		
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		padding: ($space * 2) $space $space;
		text-align: center;
		z-index: 2;
		
		&.light {
		
			@include linear-gradient( to bottom, rgba( $prim-back-color, 0 ) 30% , rgba( $prim-back-color, 0.85 ) 80% );
			
			h4 a , .addendum, .price, .posted_in a {
				color: $body-font-color;
			}
		}

		&.dark {
		
			@include linear-gradient( to bottom, rgba( #000, 0 ) 30% , rgba( #000, 0.8 ) 100% );
			
			h3, h3 a , .addendum, .price, .posted_in a {
				color: #FFF;
			}
		}
		
		
		.table {
			width: 100%;
			.tablecell {
				vertical-align: bottom;
			}
		}
		
		
		.price, .addendum {
			padding: ($space / 2) 0 ;
		}
		.posted_in {
			font-size: 0.9rem;
			display: block;
			text-transform: none;
			letter-spacing:0.05rem;
		}
		.price {
			@include special-uppercase( $size:16, $weight:600 ) 
		}
		p {
			margin: 0;
		}
		
		@include breakpoint(large down) {
		
			.addendum {
				display: none;
			}
		}
				
		@include breakpoint(medium down) {
		
			.posted_in {
				display: none;
			}
		}
		
	} // .text
	
}
 
 
.superslides-holder {
	position: relative;
	height: 450px;
	z-index: 1001;
	
	@include breakpoint(large up) {
		
	}
	
	@include breakpoint(medium only) {
		position:relative !important; height: 450px;
	}// 
	
	@include breakpoint(small down) {
		position:relative !important; height: 300px;
	}// #{$small-only}
	
	
	.superslides {
		position: relative;
		transition: all .8s;
		-moz-transition: all .8s;
		-webkit-transition: all .8s;
		-o-transition: all .8s;
		
		.slides-container {
			display: none;
		}
		
		&.scrollable {
			*zoom: 1;
			position: relative;
			top: 0;
			left: 0;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
		
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		
		}// .scrollable
		
		.slide-item {
			@extend %slide-item-text;
		}
		
		
		.slides-navigation {
			margin: 0 auto;
			position: absolute;
			z-index: 3;
			top: 50%;
			margin-top: -25px;
			width: 100%;
			opacity: 0;
			transition: opacity .5s;
			-moz-transition: opacity .5s;
			-webkit-transition: opacity .5s;
			-o-transition: opacity .5s;
			
			&.active {
				opacity: 1;
			}
			a {
				position: absolute;
				display: block;
				
				&.prev, &.next {
					position: absolute;
					display: block;
					height: $space;
					width: $space;
					cursor: pointer;
					background: $body-font-color;
					color:  $prim-back-color;
					opacity: 0.8;
					top: 50%;
					padding: 0;
					border: none;
					outline: none;
					text-align: center;
					line-height: 2.5;
					
					@include transition-var(opacity, .5s);
					
					&:hover , &:focus {
						outline: none;
					
						&:before {
							opacity: 1;
						}
					}
					
					&.slick-disabled {
						&:before {
							opacity: 0.25;
						}
					}
					
				}
				
				
				&.prev {
					left: 0;
					@include outline-hover-effect;
				}
				&.next {
					right: 0;
						@include outline-hover-effect;
				}
			}
			
		}//.slides-navigation
		
		.slides-pagination {
			position: absolute;
			z-index: 3;
			bottom: 0;
			text-align: center;
			width: 100%;
			
			a {
				border: 2px solid #222;
				border-radius: 15px;
				width: 10px;
				height: 10px;
				display: -moz-inline-stack;
				display: inline-block;
				vertical-align: middle;
				*vertical-align: auto;
				zoom: 1;
				*display: inline;
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
				margin: 2px;
				overflow: hidden;
				text-indent: -100%;
				
				&.current {
					background: #222;
				}
				
			} // a
			
		} //.slides-pagination 
		
		.slider {
			
			&.kenburns {
			
				.slide-item {
				
					img {
						animation:kenburns 7s ease forwards; /* Change this to alternate to stop the loop. */
						-ms-animation:kenburns 7s ease forwards;
						-webkit-animation:kenburns 7s ease forwards;
						-o-animation:kenburns 7s ease forwards;
						-moz-animation:kenburns 7s ease forwards;
					}
					
				} // slide-item
			
			} // &.kenburns		
		
		} // slider

		
	} // .superslides
	
} // .superslides-holder


@-webkit-keyframes kenburns {
	from {
		transform: scale(1);
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari and Chrome */
		-o-transform: scale(1); /* Opera */
		-moz-transform: scale(1); /* Firefox */	
		-webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1;
	}
	to {
		transform: scale(1.05);
		-ms-transform: scale(1.05); /* IE 9 */
		-webkit-transform: scale(1.05); /* Safari and Chrome */
		-o-transform: scale(1.05); /* Opera */
		-moz-transform: scale(1.05); /* Firefox */
		-webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1;
	}
}



/**
 *	GOOGLE MAP
 */

.google-map {

	padding: 0 $space / 2 ;
	
	.marker {
		
		p {
			margin-bottom: $space / 2;
		}
	}
	
	.no-spacing & {
		padding: 0;
	}
	
	> div {
		transform: inherit !important;
	}
	
	img {
		max-width: none !important;
	}
}
 
/**
 *	VIDEO PLAYER
 */
.vc-ase-video {
	padding: 0 $space / 2 ; 
	position: relative;
	@include clearfix;
	
	.no-spacing & {
		padding: 0;
	}
}

/**
 *	WIDGET AREAS
 */

.custom-widget-wrap {

	@include clearfix;
	
}

.custom-widget-area {
	padding-left: $space / 2 ;
	padding-right: $space / 2 ;
	
	.no-spacing & {
		padding: 0;
	}
	
	aside.widget {
		.no-spacing & {
			padding: 0;
		}
	}
	
	@include clearfix;
}

.vc_ase_wc_gridlist {
	
	h3 {
		float: left;
		@include breakpoint(small only) {
			float: none;
			text-align: center;
		}
	}
	
	opacity: 0;
	transition: opacity 0.5s linear;
	
	&.active {
		opacity: 1;
	}
	
	.gridlist-toggle {
		margin-bottom: $space;
		text-align: right;
		font-size: 0;
		
		a {
			font-size: 1rem;
			height: 3rem;
			padding: 1rem 1.25rem;
			margin-left: 1px;
			
			&.active {
				opacity: 0.5;
			}
		}
		
		@include breakpoint(small only) {
			float: none;
			text-align: center;
		}
	} // .gridlist-toggle
}

/**
 *	BUTTON ELEMENT
 *
 */
.vc-ase-button {
	
	.button-wrapper {
		
		&.align_left { text-align: left; }
		&.align_right { text-align: right; }
		
		.button {
			&.radius {
				&:hover {
					&:before, &:after { border-radius: 6px; }
				}
			} //.radius
			&.round {
				&:hover {
					&:before, &:after { border-radius: 1000px; }
				}
			} //.radius
		}//. button
		
	}
	
}

/*---------------------------------*/
// WOOCOMMERCE VISUAL COMP. ELEMENTS:

.wpb_wrapper {
	
	> .woocommerce {
		padding: 0 $space / 2 ;
	}
	
	@extend %lists;
}



/*---------------------------------*/
// GRID :
@media (min-width:769px){.vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9{float:left}.vc_col-sm-12{width:100%}.vc_col-sm-11{width:91.66666667%}.vc_col-sm-10{width:83.33333333%}.vc_col-sm-9{width:75%}.vc_col-sm-8{width:66.66666667%}.vc_col-sm-7{width:58.33333333%}.vc_col-sm-6{width:50%}.vc_col-sm-5{width:41.66666667%}.vc_col-sm-4{width:33.33333333%}.vc_col-sm-3{width:25%}.vc_col-sm-2{width:16.66666667%}.vc_col-sm-1{width:8.33333333%}.vc_col-sm-pull-12{right:100%}.vc_col-sm-pull-11{right:91.66666667%}.vc_col-sm-pull-10{right:83.33333333%}.vc_col-sm-pull-9{right:75%}.vc_col-sm-pull-8{right:66.66666667%}.vc_col-sm-pull-7{right:58.33333333%}.vc_col-sm-pull-6{right:50%}.vc_col-sm-pull-5{right:41.66666667%}.vc_col-sm-pull-4{right:33.33333333%}.vc_col-sm-pull-3{right:25%}.vc_col-sm-pull-2{right:16.66666667%}.vc_col-sm-pull-1{right:8.33333333%}.vc_col-sm-pull-0{right:auto}.vc_col-sm-push-12{left:100%}.vc_col-sm-push-11{left:91.66666667%}.vc_col-sm-push-10{left:83.33333333%}.vc_col-sm-push-9{left:75%}.vc_col-sm-push-8{left:66.66666667%}.vc_col-sm-push-7{left:58.33333333%}.vc_col-sm-push-6{left:50%}.vc_col-sm-push-5{left:41.66666667%}.vc_col-sm-push-4{left:33.33333333%}.vc_col-sm-push-3{left:25%}.vc_col-sm-push-2{left:16.66666667%}.vc_col-sm-push-1{left:8.33333333%}.vc_col-sm-push-0{left:auto}.vc_col-sm-offset-12{margin-left:100%}.vc_col-sm-offset-11{margin-left:91.66666667%}.vc_col-sm-offset-10{margin-left:83.33333333%}.vc_col-sm-offset-9{margin-left:75%}.vc_col-sm-offset-8{margin-left:66.66666667%}.vc_col-sm-offset-7{margin-left:58.33333333%}.vc_col-sm-offset-6{margin-left:50%}.vc_col-sm-offset-5{margin-left:41.66666667%}.vc_col-sm-offset-4{margin-left:33.33333333%}.vc_col-sm-offset-3{margin-left:25%}.vc_col-sm-offset-2{margin-left:16.66666667%}.vc_col-sm-offset-1{margin-left:8.33333333%}.vc_col-sm-offset-0{margin-left:0}}
@media (max-width:768px){.vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9{float:left!important;width:100%!important}.vc_col-sm-pull-0,.vc_col-sm-pull-1,.vc_col-sm-pull-10,.vc_col-sm-pull-11,.vc_col-sm-pull-12,.vc_col-sm-pull-2,.vc_col-sm-pull-3,.vc_col-sm-pull-4,.vc_col-sm-pull-5,.vc_col-sm-pull-6,.vc_col-sm-pull-7,.vc_col-sm-pull-8,.vc_col-sm-pull-9{right:auto!important}.vc_col-sm-push-0,.vc_col-sm-push-1,.vc_col-sm-push-10,.vc_col-sm-push-11,.vc_col-sm-push-12,.vc_col-sm-push-2,.vc_col-sm-push-3,.vc_col-sm-push-4,.vc_col-sm-push-5,.vc_col-sm-push-6,.vc_col-sm-push-7,.vc_col-sm-push-8,.vc_col-sm-push-9{left:auto!important}.vc_col-sm-offset-0,.vc_col-sm-offset-1,.vc_col-sm-offset-10,.vc_col-sm-offset-11,.vc_col-sm-offset-12,.vc_col-sm-offset-2,.vc_col-sm-offset-3,.vc_col-sm-offset-4,.vc_col-sm-offset-5,.vc_col-sm-offset-6,.vc_col-sm-offset-7,.vc_col-sm-offset-8,.vc_col-sm-offset-9{margin-left:0!important}}